* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  overflow-y: auto;
}

.truckDescription {
  max-height: 500px;
  width: 40%;
  float: right;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.list-box {
  width: 100%;
  border: 2px solid black;
  margin-bottom: -1px;
  font-size: 12px;
}