body, html {
  margin: 0px;
  padding: 0px;
}

input {
  width: 290px !important;
  height: 37px;
  size: 23px;
  font-size: 18px;
}

.input-group {
  width: 350px !important;
  margin: 20px 0px;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.truckDescription {
  height: 100%;
  width: 30%;
  float: left;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.list-box {
  width: 100%;
  border: 2px solid black;
  margin-bottom: 1px;
  font-size: 12px;
}

.search-bar {
  width: 100%;
}

.search-input {
  width: 250px;
}

.map {
  height: 100%;
  position: relative !important;
  width: 60vw !important;
  float: left !important;
}